{% extends "blog.html" %}

{% block content %}

<section class="article-wrapper border-bottom">
  <div class="page-container">
    <div class="row">

      <div class="col-12 col-md-8 order-md-1">
        <article class="article">
          <div class="breadcrumb">
            <a href="{{ base_url }}/blog-list.html">Lista wpisów</a> > <span class="active">Dlaczego warto pomagać?</span>
          </div>

          <h2><span class="border-bottom d-inline-block">Dlaczego warto pomagać?</span></h2>

          <small>
            opublikowany 17.03.2018 | autor: Maria Gembarzewska-Truong
          </small>

          <!-- TODO replace with class on the element above -->
          <br />
          <br />

          <p>
            
          </p>
          
          <hr>
          <p>Masz do nas pytanie? Chcesz się czymś podzielić? <a href="{{ base_url }}napisz-do-nas.html" class="link">Napisz do nas</a> lub udostępnij wpis w mediach społecznościowych i zacznij dyskusję!</p>
        </article>
      </div>

    </div>
  </div>
</section>

{% endblock content %}
