{% extends "blog.html" %}

{% block content %}

<section class="article-wrapper border-bottom">
  <div class="page-container">
    <div class="row">

      <div class="col-12 col-md-8 order-md-1">
        <article class="article">
          <div class="breadcrumb">
            <a href="{{ base_url }}/blog-list.html">Lista wpisów</a> > <span class="active">Dlaczego warto pomagać?</span>
          </div>

          <h2><span class="border-bottom d-inline-block">Dlaczego warto pomagać?</span></h2>

          <small>
            opublikowany 20.01.2018 | autor: Maria Gembarzewska-Truong
          </small>

          <!-- TODO replace with class on the element above -->
          <br />
          <br />

          <p>
            Na świecie obecnie żyje 7,5 miliarda ludzi z tego 10,7% (według
            danych Banku Światowego z 2011) żyje w skrajnym ubóstwie. O
            skrajnym ubóstwie mówimy wtedy gdy człowiek na przeżycie ma 1,9$
            dziennie. Oczywiście możemy tu się spierać, że inaczej żyje się za
            taką kwotę w Europie niż np. w Azji. Natomiast Bank Światowy
            uwzględnia różnice w sile nabywczej w poszczególnych krajach –
            oznacza to, że jest to realne odwzorowanie podobnego poziomu
            możliwości zakupu jak w USA za 1,9$ (czyli np. dla Polski byłoby to
            około 2 zł). Więcej na ten temat można znaleźć <a
              href="https://data.worldbank.org/indicator/SI.POV.DDAY?end=2013&locations=1W&start=1981&view=chart">tutaj</a>.
            Co to oznacza? Że wielu ludzi na świecie walczy o życie za kwotę,
            którą my wydajemy często na butelkę wody. Co więcej jeśli
            uświadomimy sobie, że, w przeciwieństwie do ludzi z krajów
            najbiedniejszych, posiadamy wodę pitną w kranach, to okaże się, że
            ta zakupiona butelka wody jest tak naprawdę luksusem bez którego
            moglibyśmy się obejść.
          </p>

          <p>
            Utarło się przekonanie, że pomaganie innym czy inaczej mówiąc „akty
            altruizmu” są sprzeczne z naturą człowieka.  Natomiast coraz więcej
            badań pokazuje, że nie dość , że bardziej jesteśmy skłonni do
            działań opartych na współpracy niż egoizmie to jeszcze pomaganie
            wiążę się z dużym uczuciem satysfakcji. Czyli podsumowując –
            pomaganie leży w naszej naturze i prowadzi do uczucia spełnienia.
          </p>

          <p>
            Etyk Peter Singer w swojej, książce „Życie, które możesz ocalić”
            pisze o koledze - Henrym Spirze, który poświęcił całe swoje życie
            obronie biednych osób. Ponieważ nigdy nie miał dużo pieniędzy to
            poświęcał swój czas i energię.  W wieku około 70 lat zachorował na
            raka. Gdy Peter Singer go odwiedził pod koniec jego choroby i
            zapytał co sprawiło, że poświęcił prawie całe swoje życie pomocy
            innym. Henry odpowiedział w ten sposób:
          </p>

          <p>
            Właściwie to tak sobie myślę, że każdy chce poczuć, iż jego życie
            to coś więcej, niż jedzenie i produkowanie śmieci. Wydaje mi się,
            że dobrze jest móc spojrzeć za siebie i powiedzieć, że zrobiło się
            wszystko, co było można, żeby innym pozostawić po sobie lepsze
            miejsce.  Możesz spojrzeć na to tak: co może bardziej motywować do
            działania niż chęć zrobienia co w ludzkiej mocy, by zmniejszyć ból
            i cierpienie?”
          </p>

          <p>
            Oczywiście nie każdy z nas ma czas żeby angażować się
            charytatywnie. Mamy swoje rodziny i zobowiązania. Czy to jednak
            oznacza, że w ogóle nie możemy pomagać innym?
          </p>

          <h2>Co ja mogę zrobić?</h2>

          <p>
            Panuje przekonanie, że pomaganie wiążę się zawsze z jakimś
            wyrzeczeniem – czasu, energii, pieniędzy. Że jedyna wartościowa
            pomoc to życie w ascezie. A także, że jeśli nie poczuję mocno po
            kieszeni darowizny to tak naprawdę ta darowizna jest nic nie warta.
          </p>

          <p>
            Jednak prawda jest taka, że:
            <ul>
              <li>
                50 gr jest zawsze lepsze niż 0 zł
              </li>
              <li>
                5 zł lepsze niż 50 gr
              </li>
              <li>
                20 zł lepsze nic 5 zł itd.
              </li>
            </ul>
          </p>

          <p>
            Co chcę przez to powiedzieć? Że <strong>każda</strong> pomoc jest
            wartościowa choćby najmniejsza.
          </p>

          <p>
            Ekonomista Jeffrey Sachs twierdzi, że do połowy obecnego wieku
            jesteśmy w stanie całkowicie wyeliminować skrajne ubóstwo. Gdyby
            wszyscy ludzie z krajów o rozwiniętych gospodarkach przekazywali 1%
            swojego dochodu na pomoc innym to problem ubóstwa mógłby być
            rozwiązany jeszcze szybciej. Także profesor Peter Singer, który
            wprowadził pojęcie Efektywnego Altruizmu – czyli jak pomagać
            najbardziej efektywnie, mówi o tym. Co więcej opowiada także o tym,
            gdzie można znaleźć informacje o najbardziej efektywnie
            działających organizacjach.
          </p>

          <p>
            Mam nadzieję, że powyższy tekst zachęci was do wspierania
            Organizacji Pożytku Publicznego.
          </p>

          <p>
            Ja ze swojej strony chce się z wami podzielić moim postanowieniem
            noworocznym. Od 4 lat odkąd trafiłam na kursy Petera Singera
            wpłacam część swoich dochodów na różne fundacje. Przez 3 lata było
            to około 1% moich rocznych dochodów, natomiast rok temu zwiększyłam
            poprzeczkę do 2,5% – ustawiłam sobie stały comiesięczny przelew
            więc nie czuje dużego obciążenia w związku z tym.  W tym roku
            chciałabym utrzymać swój próg – 2,5%. Dlaczego się z wami tym
            dzielę? Nie, to nie jest próżność z mojej strony. Powiedzenie
            głośno o swoich planach powoduje większe zobowiązanie – skoro już
            się z wami tym podzieliłam to teraz ciężej mi będzie się z tego
            wycofać – to taki sposób na siebie samą J. Także trzymajcie za mnie
            mocno kciuki!
          </p>

          <p>
            Ps. Może ktoś chce do mnie dołączyć? ;)
          </p>

          <p>
            Gdybyście chcieli dowiedzieć się więcej o tzw. Efektywnym
            altruizmie to zachęcam do zapoznania się z poniższymi pozycjami:
            <ul>
              <li>
                <a href="http://jakoszczedzacpieniadze.pl/dobroczynnosc-czyli-jak-dzielic-sie-madrze">
                  http://jakoszczedzacpieniadze.pl/dobroczynnosc-czyli-jak-dzielic-sie-madrze</a>
              </li>
              <li>
                <a href="http://lubimyczytac.pl/ksiazka/113255/zycie-ktore-mozesz-ocalic">
                  http://lubimyczytac.pl/ksiazka/113255/zycie-ktore-mozesz-ocalic</a>
                ‐ książka profesora Petera Singera o efektywnym
                altruizmie
              </li>
              <li>
                <a href="https://www.coursera.org/learn/altruism">
                  https://www.coursera.org/learn/altruism ‐ kurs</a>
                on-line prowadzony przez tego samego profesora
              </li>
              <li>
                <a href="http://efektywnyaltruizm.org">
                  http://efektywnyaltruizm.org</a> ‐ ruch na rzecz efektywnego
                altruizmu w Polsce
              </li>
              <li>
                <a href="https://www.ted.com/talks/peter_singer_the_why_and_how_of_effective_altruism?language=pl">
                  https://www.ted.com/talks/peter_singer_the_why_and_how_of_effective_altruism?language=pl</a>
                ‐ TED Petera Singera o efektywnych altruizmie
              </li>
            </ul>
          </p>

          <h2>
            Jak można efektywnie pomagać:
          </h2>

          <h3>
            Odpis 1% podatku
          </h3>

          <p>
            Jak zapewne wiecie podczas rozliczania PIT11 można przeznaczyć 1%
            podatku zamiast do US na rzecz Organizacji Pożytku Publicznego
            (OPP).  Nas nic to nie kosztuje, a kwoty te bardzo wspierają
            działalność organizacji.
          </p>

          <h3>
            Darowizna i PIT-0
          </h3>

          <p>
            O ile większość osób wie o możliwości przekazania 1%, o tyle
            niewiele osób wie, że Państwo daje ukłon w stronę osób, które
            wspierają finansowo OPP i pozwala część kosztów (do 6% dochodu)
            odliczyć od podatku jako ulgę. W tym celu podczas wypełniania
            rozliczenia należy dodatkowo wypełnić PIT-0, sekcja B pkt. 1.
          </p>

          <p>
            Co można rozliczać?
            <ul>
              <li>
                Wpłaty na rzecz Organizacji Pożytku Publicznego
              </li>
              <li>
                krew przekazaną w ramach krwiodawstwa – w tym celu należy
                wyliczyć ekwiwalent za krew. Na stronie
                <a href="https://krwiodawcy.org/ulga-podatkowa-dla-hdk">
                  https://krwiodawcy.org/ulga-podatkowa-dla-hdk</a>
                można sprawdzić aktualny przelicznik
              </li>
            </ul>
            Więcej na ten temat znajdziecie: <a href="http://www.pit.pl/darowizny/">
              http://www.pit.pl/darowizny/</a>
          </p>
        </article>
      </div>

    </div>
  </div>
</section>

{% endblock content %}
