/*------------------------------------*\
    #COMMUNITY PAGE
\*------------------------------------*/

// napisz do nas
.contact-us {
  margin-top: 16px;
  text-align: center;

  h2, p {
    margin: 24px 0;
  }

  .button {
    margin: 8px 0 24px;
  }
}

// zaangazowani
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: left;
    }
}

.person {
  flex-direction: column;
  display: flex;
  justify-content: top;
  align-items: stretch;
  width: 20%;
  min-width: 230px;
  text-align: center;
  padding-bottom: 16px;

  h3 {
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__desc {
    font-size: 14px;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $secondary;
    padding: 4px;
    margin-bottom: 4px;
  }

  &__desc--small {
    font-size: 13px;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__wrapper:hover &__desc {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__img {
    border-radius: 50%;
    max-width: 97px;
    max-height: 97px;

    @include media-breakpoint-up(md) {
      max-width: 132px;
      max-height: 132px;
    }
  }

  p {
    margin-bottom: 8px;
  }

  &__icon {
    img {
      width: 32px;
      height: 32px;
      margin: 4px 12px 0;
    }
  }
}

[data-toggle="collapse"] {

  color: $accent;
  display: block;

  margin-top: -20px;

  @include media-breakpoint-up(md) {
    margin-top: -30px;
  }

  .show-less {
    display: block;
  }

  .show-more {
    display: none;
  }

  &.collapsed {
    .show-less {
      display: none;
    }

    .show-more {
      display: block;
    }
  }
}

.collapse {
  display: none;
  &.show {
    display: block;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}

//Dołącz do nas section
.join-us-section {

    h2 {
        @include media-breakpoint-up(md) {
            display: inline-block;
            border-bottom: 3px solid $primary;
            margin-bottom: 45px;
        }
    }

    @include media-breakpoint-up(md) {
        padding-bottom: 45px;
    }
}

//fb
.fb-events {

    @include media-breakpoint-up(md) {
        border-right: 3px solid $primary;
        font-size: 18px;
    }
}

.fb-logo {
    font-size: 60px;

    &:hover {
        text-decoration: none;
    }
}

.fb-groups-list {
    font-weight: 700;
    margin-top: 24px;

    li {
        margin-bottom: 5px;
    }

    @include media-breakpoint-up(md) {
        font-size: 20px;
    }
}

//organizacje
.organizations {
    display: flex;
    flex-wrap: wrap;
}

.organization {
    text-align: center;
    width: 130px;
    color: $primary;

    &:not(:last-child) {
        margin-right: 5px;

        @include media-breakpoint-up(md) {
            margin-right: 20px;
        }
    }

    @include media-breakpoint-up(md) {
        width: 140px;
    }
}

.organization__img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 5px;

    @include media-breakpoint-up(md) {
        margin-bottom: 10px;
    }
}
