{% extends "layout.html" %}

{% set page = 'blog' %}

{% block content %}

<section class="section-padding-top blog-list">

  <article class="background border-bottom ">
    <div class="container-fluid page-container">
      <div class="row section section__border section__border--first">
        <div class="col-12 col-md-10">
          <h2 class="border-bottom d-inline-block">
            <a href="{{ base_url }}blog/post-1.html">Myśl jak efektywny altruista</a>
          </h2>

          <small>Opublikowany 1.12.2017</small>

          <p>
            Oto 5 kluczowych pytań, które zadaje efektywny altruizm.
          </p>
        </div>
      </div>
    </div>
  </article>

  <article class="border-bottom">
    <div class="container-fluid page-container">
      <div class="row section section__border">
        <div class="col-12 col-md-10">
          <h2 class="border-bottom d-inline-block">
            <a href="blog/post-2.html">Dlaczego warto pomagać?</a>
          </h2>

          <small>Opublikowany 20.01.2018</small>

          <p>
            Na świecie obecnie żyje 7,5 miliarda ludzi z tego 10,7% (według
            danych Banku Światowego z 2011) żyje w skrajnym ubóstwie. O
            skrajnym ubóstwie mówimy wtedy gdy człowiek na przeżycie ma 1,9$
            dziennie. Oczywiście możemy tu się spierać, że inaczej żyje się za
            taką kwotę w Europie niż np. w Azji. Natomiast Bank Światowy
            uwzględnia różnice w &hellip;
          </p>
        </div>
      </div>
    </div>
  </article>

</section>


{% endblock content %}
