{% extends "layout.html" %} {% block content %}

<section class="section-padding-top border-bottom">
  <div>
    <div class="container-fluid page-container">
      <div class="row section section__border section__border--first">
        <div class="col-12 col-md-10">
          <h2 class="border-bottom d-inline-block">Ciasteczka</h2>

          <article class="article">
            <script
              id="CookieDeclaration"
              src="https://consent.cookiebot.com/3c459020-234e-4f3d-b528-4ba4638d4349/cd.js"
              type="text/javascript"
              async
            ></script>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
