{% extends "layout.html" %} {% block content %}

<section class="section homepage-image homepage-image--first">
  <h2 class="independent">
    Pomagamy Ci czynić
    <strong class="text-primary">najwięcej&nbsp;dobra.</strong>
  </h2>
</section>

<section class="section background homepage-boxes">
  <article class="homepage-box">
    <h2>Czym jest <strong>Efektywny Altruizm?</strong></h2>

    <p>
      Effective Altruism to międzynarodowa społeczność osób szukających
      odpowiedzi na pytanie: jak przynieść światu najwięcej dobra, wykorzystując
      ograniczone środki?
    </p>

    <a href="czym-jest-ea.html" class="button">Dowiedz się więcej</a>
  </article>

  <article class="homepage-box">
    <h2>Jak<strong> działamy</strong> w Polsce?</h2>

    <p>
      Fundacja Efektywny Altruizm, jako część międzynarodowej społeczności,
      realizuje lokalne i globalne projekty w priorytetowych obszarach
      efektywnej dobroczynności.
    </p>

    <a href="o-fundacji.html" class="button">Poznaj nas</a>
  </article>
</section>

<a class="anchor" id="image-second"></a>

<section class="section homepage-image homepage-image--second">
  <h2 class="independent">Zobacz, jak bardzo możesz pomóc innym</h2>
  <a
    href="https://www.thelifeyoucansave.org/impact-calculator"
    target="_blank"
    class="button impact-button"
    >Policz osiągnięte dobro</a
  >
</section>

<section class="border-bottom background">
  <h2>Wesprzyj nasze efektywne działania</h2>
  <p>
    Dzięki Twojego wsparciu będziemy mogli szybciej i lepiej zrealizować nasze
    cele.
  </p>

  <form
    action="https://www.paypal.com/cgi-bin/webscr"
    method="post"
    target="_top"
  >
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="HPJX4NEDWSNBC" />
    <input
      type="image"
      src="https://www.paypalobjects.com/pl_PL/PL/i/btn/btn_donateCC_LG.gif"
      border="0"
      name="submit"
      alt="PayPal – Płać wygodnie i bezpiecznie"
    />
    <img
      alt=""
      border="0"
      src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif"
      width="1"
      height="1"
    />
  </form>
</section>

<a class="anchor" id="image-third"></a>

<section class="section homepage-image homepage-image--third anchor">
  <article class="homepage-box">
    <h2>Chcesz zacząć działać razem z nami?</h2>

    <p>
      Zgłoś się do nas - szukamy wolontariuszy i pracowników, którzy mądrze
      zmieniają świat na lepszy, łącząc serce z rozumem.
    </p>

    <a href="https://goo.gl/forms/GSMufYgMVRFGmSC82" class="button"
      >Wypełnij formularz</a
    >
  </article>
</section>

{% endblock content %}
