{% extends "layout.html" %}

{% block content %}

<section class="section homepage-image homepage-image--first">
  <h2 class="independent">Jak przynieść światu <strong class="text-primary">najwięcej&nbsp;dobra?</strong></h2>
</section>

<section class="section background homepage-boxes">
  <article class="homepage-box">
    <h2>Czym jest <strong>Efektywny Altruizm?</strong></h2>

    <p>
      Jak przynieść światu najwięcej dobra wykorzystując ograniczone środki? Efektywny Altruizm szuka odpowiedzi.
    </p>

    <a href="czym-jest-ea.html" class="button">Dowiedz się więcej</a>
  </article>

  <article class="homepage-box">
    <h2>Jak działamy <strong>w Polsce?</strong></h2>

    <p>
      Fundacja Efektywny Altruizm to polska gałąź międzynarodowego projektu. Działamy we współpracy z Centre for Effective Altruism w Oksfordzie.
    </p>

    <a href="o-fundacji.html" class="button">Poznaj nas</a>
  </article>
</section>

<section class="section border-bottom">
  <div class="container-fluid page-container">
    <h2 class="border-bottom d-inline-block"><strong>Organizacje</strong> zaprzyjaźnione</h2>

    <div class="organizations">
      <a href="http://optimumpareto.pl" target="_blank" class="organization">
        <img src="images/pareto.png" class="organization__img" alt="Fundacja Optimum Pareto">
        Fundacja Optimum Pareto
      </a>

      <a href="http://www.otwarteklatki.pl" target="_blank" class="organization">
        <img src="images/otwarte-klatki.jpg" class="organization__img" alt="Otwarte Klatki">
        Otwarte Klatki
      </a>

      <a href="https://altruisto.com" target="_blank" class="organization">
        <img src="images/altruisto.jpg" class="organization__img" alt="Altruisto.com">
        Altruisto.com - zainstaluj teraz!
      </a>

      <a href="https://www.schweitzer.pl/" target="_blank" class="organization">
        <img src="images/fundacja-alberta-schweitzera.png" class="organization__img" alt="Fundacja Alberta Schweitzera">
        Fundacja Alberta Schweitzera
      </a>

      <a href="https://proveg.com/" target="_blank" class="organization">
        <img src="images/pro-veg.png" class="organization__img" alt="ProVeg">
        ProVeg
      </a>

    </div>
  </div>
</section>

{% endblock content %}
