{% extends "layout.html" %}

{% set page = 'community' %}

{% block content %}

<section class="section border-bottom background">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="border-bottom d-inline-block">Jak działamy w <strong>Polsce?</strong></h2>
        <div>
          <p>
            Efektywny Altruizm to pytanie o to, jak przynieść światu najwięcej dobra. To międzynarodowa społeczność osób,
            które na to pytanie szukają odpowiedzi w oparciu o staranne rozumowanie i solidne podstawy merytoryczne.
          </p>

          <p>
            W trakcie naszych spotkań szukamy odpowiedzi na trudne pytania. Przyglądamy się zarówno problemom filozoficznym,
            jak i przyziemnym aspektom dobroczynności. Łączymy ludzi i organizacje. Tym pierwszym doradzamy w wyborze priorytetów
            w zgodzie z ich wartościami. Tym drugim pomagamy w maksymalizacji ich korzystnego wpływu.
          </p>

          <p>
            Działamy we współpracy z <a href="https://www.centreforeffectivealtruism.org/">The Centre for Effective Altruism</a> w Oksfordzie i zaprzyjaźnionymi
            organizacjami na całym świecie.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section class="section projects">-->
<!--  <div class="container-fluid page-container">-->
<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        <h2 class="border-bottom d-inline-block">Obszary</h2>-->
<!--      </div>-->
<!--      <div class="col-12 col-md-4">-->
<!--        <div class="project">-->
<!--          <div class="project__header">Przepływ talentu</div>-->
<!--          Współpracujemy z <a href="https://80000hours.org/" target="_blank">80,000 Hours</a> nad-->
<!--          pozyskaniem kandydatów. Prowadzimy też spotkania tematyczne i warsztaty w obrębie racjonalności-->
<!--          stosowanej i efektywnego altruizmu.-->
<!--          <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>-->
<!--          <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-12 col-md-4">-->
<!--        <div class="project">-->
<!--          <div class="project__header">Przepływ wiedzy</div>-->
<!--          Podczas wydarzeń organizowanych w Warszawie i innych miastach w Polsce rozmawiamy o efektywnym altruizmie.-->
<!--          Udostępniamy materiały w języku angielskim, a także ich tłumaczenia.-->
<!--          <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>-->
<!--          <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-12 col-md-4">-->
<!--        <div class="project">-->
<!--          <div class="project__header">Badania i rozwój</div>-->
<!--          Rozpatrujemy inne interwencje mające nietrywialną szansę przynieść światu najwięcej dobra.-->
<!--          <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>-->
<!--          <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<section class="contact-us section background">-->
<!--  <div class="container-fluid page-container">-->
<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        <h2 class="d-inline-block">Chcesz wiedzieć więcej?</h2>-->
<!--        <br><a class="button" href="{{ base_url }}napisz-do-nas.html">-->
<!--          Napisz do nas-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="section-team">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12">
        <h2 class="border-bottom d-inline-block" id="zaangażowani">Zespół</h2>

        <div class="team">

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/micha3.jpg" class="person__img" alt="">

              <div class="person__desc">
                Organizator międzynarodowej społeczności Effective Altruism, inicjator jej aktywności w Polsce.
                Przedsiębiorca non-profit zainteresowany ważnymi, lecz zaniedbanymi obszarami życia społecznego.
              </div>

              <h3>Michał Trzęsimiech</h3>
              <p>Współzałożyciel, Prezes</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:michal.trzesimiech@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/trzesimiech/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/karolina-sarek.jpg" class="person__img" alt="">

              <div class="person__desc person__desc--small">
                Odpowiada za strategię i wsparcie organizacji. Interesuje ją
                kognitywistyka, racjonalność i zastosowanie nowoczesnych
                technologii do czynienia dobra. Aktywistka Otwartych Klatek.
                Czyta i podróżuje.
              </div>

              <h3>Karolina Sarek</h3>
              <p>Współzałożycielka</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:karolina.sarek@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/karolinasarek/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/marcink.jpg" class="person__img" alt="">

              <div class="person__desc">
                Neurobiolog, popularyzator otwartej i efektywnej nauki, główny
                strateg polskiej społeczności.  Interesuje go racjonalność,
                ryzyka egzystencjalne, kosmologia i dynamiki społeczne.
              </div>

              <h3>Marcin Kowrygo</h3>
              <p>Współzałożyciel</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:marcin.kowrygo@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/kowrygo/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>
        </div>

        <div class="team">
          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/aga.jpg" class="person__img" alt="">

              <div class="person__desc">
                Projektantka usług i interakcji. Stara się projektować
                rozwiązania, które polepszają jakość życia ludzi i ich
                otoczenie. Uzależniona od muzyki i podróży.
              </div>

              <h3>Agnieszka Pisz</h3>
              <p>Członek Zarządu</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:aga.pisz@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/agnieszka-pisz-29995250/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/daniel.jpg" class="person__img" alt="">

              <div class="person__desc">
                Twórca Altruisto.com - aplikacji do zbiórki funduszy dla
                organizacji charytatywnych podczas zakupów online.
                Zainteresowany psychologią, neuronauką, racjonalnością.
              </div>

              <h3>Daniel Wyrzykowski</h3>
              <p>Członek Zarządu</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:daniel.wyrzykowski@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/danielwyrzykowski/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/tischner.jpg" class="person__img" alt="">

              <div class="person__desc">
                Specjalista ds. społecznej odpowiedzialności biznesu (CSR) i
                zrównoważonego rozwoju.  Interesują go tematy współpracy
                biznes-NGO, innowacji społecznych, food waste, zero waste i
                smogu.
              </div>

              <h3>Marcin Tischner</h3>
              <p>Członek Zarządu</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:marcin.tischner@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/marcintischner/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/marcin-wosinek.jpg" class="person__img" alt="">

              <div class="person__desc">
                Programista, poliglota, kucharz. Korzystając ze swojej
                uprzywilejowanej sytuacji stara się pomóc w naprawianiu świata
                na lepsze, zanim wszystko się zawali.
              </div>

              <h3>Marcin Wosinek</h3>
              <p>Główny Programista</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:marcin.wosinek@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/marcinwosinek/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section background text-center border-bottom join-us-section">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12">
        <h2>Jak możemy pomóc?</h2>
        <div><a class="button" href="{{ base_url }}napisz-do-nas.html" target="_blank">Napisz do nas</a></div>
      </div>
    </div>
  </div>
</section>

<section class="border-bottom">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12 col-md-6 fb-events section">
        <h2 class="border-bottom d-inline-block">Wydarzenia</h2>
        <div class="row align-items-center">
          <div class="col-8 col-md-9">
            Obserwuj nas na Facebooku
          </div>
          <div class="col-4 col-md-3">
            <a href="https://www.facebook.com/ea.poland/" target="_blank" class="fb-logo">
              <span class="icon-fb"><span class="path1"></span><span class="path2"></span></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 section">
        <h2 class="border-bottom d-inline-block">Grupy dyskusyjne</h2>

        <ul class="list-unstyled fb-groups-list">
          <li><a href="https://www.facebook.com/groups/eapoland/" target="_blank">Efektywny Altruizm</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
