{% extends "layout.html" %}

{% set page = 'community' %}

{% block content %}

<section class="section border-bottom background">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12 col-md-9">
        <h2 class="border-bottom d-inline-block">Jak działamy w <strong>Polsce?</strong></h2>
        <div>
          <p>
            Fundacja Efektywny Altruizm jest częścią międzynarodowej społeczności
            <a href="http://effectivealtruism.org/">Effective Altruism.</a>
            Tworzą ją naukowcy i pracownicy akademiccy, przedstawiciele polskich
            i międzynarodowych instytucji, organizacji non-profit, prawnicy,
            ekonomiści, reprezentanci sektora technologicznego, przedsiębiorcy
            społeczni i darczyńcy. Razem szukamy dróg, by wykorzystać w pełni
            swój potencjał do czynienia dobra.
          </p>

          <p>
            Na spotkaniach w Warszawie i Krakowie odpowiadamy na pytania
            dotyczące aktualnego stanu wiedzy o tym, jak pomagać efektywnie.
            Doradzamy w osiągnięciu wpływu przez wybór kariery. Łączymy z
            organizacjami działającymi w nieobleganych obszarach o dużym
            znaczeniu. Edukujemy w zakresie obecnych priorytetów i trendów w
            działaniach dobroczynnych.
          </p>

          <p>
            Działamy we współpracy z <a
              href="https://www.centreforeffectivealtruism.org/"> The Centre for
              Effective Altruism w Oksfordzie</a> i zaprzyjaźnionymi
            organizacjami na całym świecie.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section projects">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12">
        <h2 class="border-bottom d-inline-block">Obszary</h2>
      </div>
      <div class="col-12 col-md-4">
        <div class="project">
          <div class="project__header">Przepływ talentu</div>
          Pomagamy efektywnym organizacjom  czynić więcej dobra zapełniając kluczowe luki talentowe.
          Współpracujemy z <a href="https://80000hours.org/" target="_blank">80,000 Hours</a> nad
          przygotowaniem kandydatów, prowadzimy spotkania tematyczne oraz warsztaty w obrębie racjonalności
          stosowanej i efektywnego altruizmu.
          <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>
          <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="project">
          <div class="project__header">Przepływ środków</div>
          Zapewniamy płynny przepływ darowizn pomiędzy organizacjami dobroczynnymi a darczyńcami w Polsce.
          Ułatwiamy procedury podatkowe, doradzamy nieodpłatnie przy wyborze organizacji i obszarów w których
          Twoje darowizny mogą przynieść najwięcej korzyści.
          <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>
          <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="project">
          <div class="project__header">Wsparcie organizacji w regionie</div>
          Pomagamy organizacjom w Polsce rozwijać się, by zostać rozpoznanymi jako najefektywniejsze na podstawie
          silnych dowodów wywodzących się z uważnej i transparentnej analizy danych.
          <div class="project__see-more">... <a href class="js-project-toggle">Zobacz więcej</a></div>
          <div class="project__see-less"><a href class="js-project-toggle">Zwiń</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-us section background">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12">
        <h2 class="d-inline-block">Chcesz wiedzieć więcej o aktualnych projektach?</h2>
        <a class="button" href="{{ base_url }}napisz-do-nas.html">
          Napisz do nas
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section-team">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12">
        <h2 class="border-bottom d-inline-block" id="zaangażowani">Zaangażowani</h2>

        <div class="team">

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/micha3.jpg" class="person__img" alt="">

              <div class="person__desc">
                Współzałożyciel Fundacji Efektywny Altruizm. Przywódca The Local
                Effective Altruism Network, sieci 350 lokalnych grup Effective Altruism.
              </div>

              <h3>Michał Trzęsimiech</h3>
              <p>Prezes, Współzałożyciel</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:michal.trzesimiech@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/trzesimiech/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/karolina-sarek.jpg" class="person__img" alt="">

              <div class="person__desc person__desc--small">
                Odpowiada za strategię i wsparcie organizacji. Interesuje ją
                kognitywistyka, racjonalność i zastosowanie nowoczesnych
                technologii do czynienia dobra. Aktywistka Otwartych Klatek.
                Czyta i podróżuje.
              </div>

              <h3>Karolina Sarek</h3>
              <p>Współzałożycielka</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:karolina.sarek@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/karolinasarek/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/marcink.jpg" class="person__img" alt="">

              <div class="person__desc">
                Neurobiolog, popularyzator otwartej i efektywnej nauki, główny
                strateg polskiej społeczności.  Interesuje go racjonalność,
                ryzyka egzystencjalne, kosmologia i dynamiki społeczne.
              </div>

              <h3>Marcin Kowrygo</h3>
              <p>Współzałożyciel</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:marcin.kowrygo@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/kowrygo/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>
        </div>

        <div class="team">
          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/aga.jpg" class="person__img" alt="">

              <div class="person__desc">
                Projektantka usług i interakcji. Stara się projektować
                rozwiązania, które polepszają jakość życia ludzi i ich
                otoczenie. Uzależniona od muzyki i podróży.
              </div>

              <h3>Agnieszka Pisz</h3>
              <p>Członek Zarządu</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:aga.pisz@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/agnieszka-pisz-29995250/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/justyna.jpg" class="person__img" alt="">

              <div class="person__desc">
                Absolwentka matematyki, pracuje w analizie danych. Interesuje
                się psychologią, racjonalną duchowością i życiem w zgodzie z
                naturą.  Zajmuje się tłumaczeniami tekstów związanych z EA na
                język polski.
              </div>

              <h3>Justyna Ferenc</h3>
              <p>Członek Zarządu</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:justyna.ferenc@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/justyna-ferenc-46005312a/" target="_blank" >
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/daniel.jpg" class="person__img" alt="">

              <div class="person__desc">
                Twórca Altruisto.com - aplikacji do zbiórki funduszy dla
                organizacji charytatywnych podczas zakupów online.
                Zainteresowany psychologią, neuronauką, racjonalnością.
              </div>

              <h3>Daniel Wyrzykowski</h3>
              <p>Członek Zarządu</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:daniel.wyrzykowski@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/danielwyrzykowski/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/tischner.jpg" class="person__img" alt="">

              <div class="person__desc">
                Specjalista ds. społecznej odpowiedzialności biznesu (CSR) i
                zrównoważonego rozwoju.  Interesują go tematy współpracy
                biznes-NGO, innowacji społecznych, food waste, zero waste i
                smogu.
              </div>

              <h3>Marcin Tischner</h3>
              <p>Członek Zarządu</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:marcin.tischner@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/marcintischner/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>

          <div class="person">
            <div class="person__wrapper">
              <img src="images/members/marcin-wosinek.jpg" class="person__img" alt="">

              <div class="person__desc">
                Programista, poliglota, kucharz. Korzystając ze swojej
                uprzywilejowanej sytuacji stara się pomóc w naprawianiu świata
                na lepsze, zanim wszystko się zawali.
              </div>

              <h3>Marcin Wosinek</h3>
              <p>Główny Programista</p>
            </div>

            <p>
              <a class="person__icon" href="mailto:marcin.wosinek@efektywnyaltruizm.org">
                <img src="images/email.png" alt="email">
              </a>
              <a class="person__icon" href="https://www.linkedin.com/in/marcinwosinek/" target="_blank">
                <img src="images/linkedin.png" alt="linkedin">
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section background text-center border-bottom join-us-section">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12">
        <h2>
          <strong>Chcesz</strong> poświęcić swój czas i umiejętności by <strong>czynić więcej
          dobra?</strong>
        </h2>
        <div><a href="https://goo.gl/forms/26xocDPxoj8tRB5P2" target="_blank" class="button">Dołącz do nas</a></div>
      </div>
    </div>
  </div>
</section>

<section class="border-bottom">
  <div class="container-fluid page-container">
    <div class="row">
      <div class="col-12 col-md-6 fb-events section">
        <h2 class="border-bottom d-inline-block">Wydarzenia</h2>
        <div class="row align-items-center">
          <div class="col-8 col-md-9">
            Obserwuj nasz profil na Facebooku i bądź na bieżąco z wydarzeniami!
          </div>
          <div class="col-4 col-md-3">
            <a href="https://www.facebook.com/ea.poland/" target="_blank" class="fb-logo">
              <span class="icon-fb"><span class="path1"></span><span class="path2"></span></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 section">
        <h2 class="border-bottom d-inline-block">Grupy dyskusyjne</h2>

        <ul class="list-unstyled fb-groups-list">
          <li><a href="https://www.facebook.com/groups/eapoland/" target="_blank">Efektywny Altruizm</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section border-bottom">
  <div class="container-fluid page-container">
    <h2 class="border-bottom d-inline-block"><strong>Organizacje</strong> zaprzyjaźnione</h2>

    <div class="organizations">
      <a href="http://optimumpareto.pl" target="_blank" class="organization">
        <img src="images/pareto.png" class="organization__img" alt="Fundacja Optimum Pareto">
        Fundacja Optimum Pareto
      </a>

      <a href="http://www.otwarteklatki.pl" target="_blank" class="organization">
        <img src="images/otwarte-klatki.jpg" class="organization__img" alt="Otwarte Klatki">
        Otwarte Klatki
      </a>

      <a href="https://altruisto.com" target="_blank" class="organization">
        <img src="images/altruisto.jpg" class="organization__img" alt="Altruisto.com">
        Altruisto.com - zainstaluj teraz!
      </a>
    </div>
  </div>
</section>

{% endblock content %}
